/* scrollbar styles */
/* width  */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
/* Track  */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
/* Handle  */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
/* Handle on hover  */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none !important;
}
/* Hide scrollbar for IE, Edge and Firefox  */
.hide-scrollbar {
  -ms-overflow-style: none !important;
  /* IE and Edge  */
  scrollbar-width: none !important;
  /* Firefox  */
}

/* cursor pointer */
.cursor-pointer {
  cursor: pointer !important;
}

/* overflow */
.overflowX-scroll {
  overflow-x: scroll;
}
.overflowX-hidden {
  overflow-x: hidden;
}
.overflowY-scroll {
  overflow-y: scroll;
}
.overflowY-hidden {
  overflow-y: hidden;
}

.img{
  background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
}

/* Mobile */
.container1 {
  padding: 0px 2rem 0px;
}

/* Tablet */
@media (min-width:600px) {
  .container1{
    padding: 0px 4rem 0px;
  }
}
@media (min-width:700px) {
  .container1{
    padding: 0px 1rem 0px;
  }
}
@media (min-width:900px) {
  .container1{
    padding: 0px 2rem 0px;
  }
}
/* Desktop */
@media (min-width:900px) {
  .container1 {
    padding: 0px 8rem 0px;
  }
}

.loadContainer {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  height: 100% !important;
  z-index: 1401;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
}
.loader,
.loader:before,
.loader:after {
  background: #1181b2;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #1181b2;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 6px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: "";
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}