/* scrollbar styles */
/* width  */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
/* Track  */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
/* Handle  */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
/* Handle on hover  */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none !important;
}
/* Hide scrollbar for IE, Edge and Firefox  */
.hide-scrollbar {
  -ms-overflow-style: none !important;
  /* IE and Edge  */
  scrollbar-width: none !important;
  /* Firefox  */
}

/* cursor pointer */
.cursor-pointer {
  cursor: pointer !important;
}

/* overflow */
.overflowX-scroll {
  overflow-x: scroll;
}
.overflowX-hidden {
  overflow-x: hidden;
}
.overflowY-scroll {
  overflow-y: scroll;
}
.overflowY-hidden {
  overflow-y: hidden;
}

.img{
  background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
}

/* Mobile */
.container1 {
  padding: 0px 2rem 0px;
}

/* Tablet */
@media (min-width:600px) {
  .container1{
    padding: 0px 4rem 0px;
  }
}
@media (min-width:700px) {
  .container1{
    padding: 0px 1rem 0px;
  }
}
@media (min-width:900px) {
  .container1{
    padding: 0px 2rem 0px;
  }
}
/* Desktop */
@media (min-width:900px) {
  .container1 {
    padding: 0px 8rem 0px;
  }
}